
{#    <div class="container">#}
{#    <h1>列表页面</h1>#}
{##}
{#    {% if show_add_btn %}#}
{#        <a class="btn btn-primary" href="{{ add_url }}">添加</a>#}
{#    {% endif %}#}
{#    <table class="table table-bordered">#}
{#        <thead>#}
{#            <tr>#}
{#                {% for item in head_list %}#}
{#                    <th>{{ item }}</th>#}
{#                {% endfor %}#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#            {% for obj in data_list %}#}
{#                <tr>#}
{#                    {% for col in obj %}#}
{#                        <td>{{ col }}</td>#}
{#                    {% endfor %}#}
{#                </tr>#}
{#            {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{#    </div>#}

<h1>自定义标签</h1>
