<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/stark11/bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid" style="margin-top: 80px">
    <div class="col-md-5 col-md-offset-4">
        <h4>编辑页面</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="提交">
        </form>
    </div>
</div>
</body>
</html>