{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>单条录入</title>
    <link rel="stylesheet" href="{% static 'stark11/bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'stark11/css/stark11-form.css' %}">
</head>
<body>
<div class="container form-horizontal" style="margin-top: 20px">
<h3>单条录入</h3>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">{{ field.label }}</label>
                    <div class="col-sm-10" style="position: relative; margin-bottom: 15px">
                        {{ field }}
                    <div style="background-color: red;color: white;position: absolute;font-size: 12px;left: 15px; right: 15px;">
                        {{ field.errors.0 }}
                    </div>
                </div>
            </div>
            </div>
        {% endfor %}
        <div class="col-sm-offset-11 col-sm-1">
            <input type="submit" class="btn btn-primary" value="提交">
        </div>
    </form>
</div>
</body>
</html>