<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/stark11/bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <form action="" novalidate style="margin-top: 30px">
        <table class="table table-bordered">
            <thead>
               <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>QQ</th>
            </thead>
         <tbody>
         {% for row in customers %}
             <tr>
             <td>{{ row.id }}</td>
             <td>{{ row.customer }}</td>
             <td>{{ row.customer.qq }}</td>
             </tr>
         {% endfor %}
         </tbody>
        </table>
    </form>
</div>
</body>
</html>