<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/stark11/bootstrap-3.3.7/css/bootstrap.css">
</head>
<body>
<h1>显示列表</h1>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            {% for foo in head_list %}
                <th>{{ foo }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for foo in data_list %}
            <tr>
                {% for col in foo %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>