<form action="" method="post" class="form-horizontal" novalidate>

    {% csrf_token %}
    {% for field in form %}
        <div class="col-sm-6">
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">{{ field.field.label }}</label>
                <div class="col-sm-10" style="position: relative; margin-bottom: 15px">
                    <!-- 判断是否是FK或则M2M,如果是的，则需要添加popup功能 -->
                    {{ field.field }}
                    <!--  给此按钮绑定一个popup的事件 -->
                    {% if field.popup %}
                        <div style="position: absolute;right: -20px;top: 10px;">
                            <a onclick="popUp('{{ field.popup_url }}')" href="">添加</a>
                        </div>
                    {% endif %}
                    <div style="background-color: red;color: white;position: absolute;font-size: 12px;left: 15px; right: 15px;">
                        {{ field.field.errors.0 }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="col-sm-offset-11 col-sm-1">
        <input type="submit" class="btn btn-primary" value="提交">
    </div>
</form>

<script>

    // 弹出URL函数
    function popUp(url) {
        var popuppage = window.open(url, "url", "status=1, height:50, width:100, toolbar=0, resizeable=0")
    }

    // 处理popup的回调函数
    function popupCallback(dic) {
        if (dic.status) {
            var op = document.createElement('option');
            op.value = dic.id;
            op.text = dic.text;
            op.setAttribute('selected', 'selected');
            document.getElementById(dic.popbackid).appendChild(op);
        }

    }
</script>